@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b;
  color: #e4e4e7;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom scrollbar for logs */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
